# Verify Token" di dashboard Meta
WA_VERIFY_TOKEN=verify-token

# Token Uji
WA_ACCESS_TOKEN=paste-token-uji-disini
# Token Permanen
# WA_ACCESS_TOKEN=paste-token-permanen-disini

# Phone Number ID
# WA Uji
WA_PHONE_NUMBER_ID=paste-wa-phone-number-id-uji-disini

# WA Permanen
# WA_PHONE_NUMBER_ID=paste-wa-phone-number-id-permanen-disini

# Versi Graph API
WA_API_VERSION=v26.0

# GEMINI API KEY
GEMINI_API_KEY=paste-gemini-api-disini

# MODUL SYSTEM TEST
MODULE_NAME=main